@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

/* basic css  */

html{
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
:root{
  --color-light-blue: #add8e6;
  --color-white: #ffffff;
  --color-black: #242424;
  --color-darkgreen: #006400;
  --color-forestgreen:  #228B22;
  --color-lime-green: #32cd32;
  --color-turquoise: #40e0d0;
  --color-sky-blue: #87ceeb;
  --color-navy-blue: #000080;
  --color-royal-blue: #4169e1;
  --color-steel-blue: #4682b4;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  --black: #242424;
  --white: #f5f5f5;
  --pill: #e0d4be;
  --red: #cc033f;
  overflow-x: hidden;
}



/***styling nav bar*******/

nav{
  height: 4rem;
  width: 100%;
  background-color: var(--pill);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  z-index: 999;
}

/*Styling Links*/
.nav-links{
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a{
  color: #0A192F;
  text-decoration: none;
  margin: 0 0.7vw;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add styles for when the navbar is stuck */
nav.sticky ul {
  width: 100%;
}

nav.sticky li {
  float: none;
  display: inline-block;
}

nav.sticky a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
.nav-links li {
  position: relative;
}

.nav-links li a:hover::before{
  width: 80%;
}


/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #0A192F;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
      background-color: var(--pill);
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      position: relative;
      z-index: 10;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;  
  }
  .nav-links{
      position: fixed;
      background: var(--pill);
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
    transition: all 0.5s ease 0.9s;
}
  li.fade{
      opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}



/*** css for the home section ****/

#home {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#home article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--i);
}

.hero-info {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 8;
}
.hero-info h2 {
  font-size: 50px;
  text-transform: uppercase;
}
.hero-info h1 {
  color: var(--white);
  font-size: 65px;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

@supports (-webkit-text-stroke: 3px var(--white)) {
  .hero-info h2 {
    color: transparent;
    -webkit-text-stroke: 3px var(--white);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
}

.hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* the 5 background images for the home section css */

.hi-1 {
  background-image: url('https://drive.google.com/uc?id=1PCNDksqz2p3htGZRWz-H1ToNJlYD9-vx');
}

.hi-2 {
  background-image: url("https://drive.google.com/uc?id=180u64NCcJ8OGRNkapf_TZWndnlKGedpE");
}

.hi-3 {
  /* background-image: url('https://www.dropbox.com/s/euy506yyv2ylxux/2.jpg?raw=1'); */
  background-image: url('https://www.dropbox.com/s/21d75zp013l5t2g/4.jpg?raw=1');
}

.hi-4 {
  /* background-image: url('https://drive.google.com/uc?id=1-7g-RgHnLtVqLYU0SDTUpgZgX1CxCVTs'); */
  background-image: url('https://www.dropbox.com/s/uq3dcs5fhxo4650/3.jpg?raw=1');
}


.hi-5 {
  background-image: url("https://drive.google.com/uc?id=1UGDMocEYKzyq463qJPFuosM4dGgntzP2");
}

.hero-image {
  background-size: cover;
  background-position: center;
}

/* media section for the home section area using media quaries */

@media (max-width: 768px) {
  .hero-image {
    height: 50vh;
  }
  .hero-info h2 {
    font-size: 20px;
  }
  .hero-info {
    position: absolute;
    top: 30%;
    left: 4%;
    transform: translateY(-50%);
    z-index: 8;
  }
}

@media (max-width: 480px) {
  .hero-image {
    height: 100vh;
  }
  .hero-info h2 {
    margin-top: 3%;
    font-size: 25px;
  }
  .hero-info h1 {
    font-size: 30px;
  }
  .hero-info {
    position: absolute;
    top: 50%;
    left: 4%;
    right: 4%;
    transform: translateY(-15%);
    z-index: 8;
  }
}


/***service section css***/

#service {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}


.blur-bg {
  /* background-image: url('https://drive.google.com/uc?id=1bQhUFh5U7wzAdxdSA9mlIHc2citHUBOS'); */
  /* background-image: url('https://drive.google.com/uc?id=1lwmlM4hQq0o0RngTkfGg8jpohJw08bWv'); */
  /* background-image: url('https://www.dropbox.com/s/iuag3g5x9sr44fh/s.jpg?raw=1'); */
  background-image: url('https://www.dropbox.com/s/ppj6kdjxdlcad9o/IMG_4532.jpeg?raw=1');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.service-heading{
  font-family: 'Poppins', sans-serif, 'arial';
  font-size: 50px;
  font-style: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  padding-top: 2%;
}

.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
  color: aliceblue;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.service a {
  text-decoration: none;
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
} 
/* .service-container img{
  width: 1px;
  height: 20px;
} */
.service p {
  font-size: 0.9rem;
  color: aliceblue;
  margin: 1rem 0;
  line-height: 1.5;
} 
.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid-one{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.services-grid-two{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.service p{
  color: var(--color-black);
}

.service {
  background: var(--color-white);
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
  color: #42b7ca;
}


.service1:hover {
  border: 2px solid #42b7ca;
}

.service2 i,
.service2 h4,
.service2 .cta {
  color: #425fca;
}

.service2:hover {
  border: 2px solid #425fca;
}

.service3 i,
.service3 h4,
.service3 .cta {
  color: #9c42ca;
}

.service3:hover {
  border: 2px solid #9c42ca;
}

.service .cta span {
  font-size: 0.6rem;
}

.service > * {
  flex: 1 1 100%;
}

.service .cta {
  align-self: flex-end;
}
.service3 p{
  font-size: 13.5px;
}
@media screen and (max-width: 768px) {
  .service {
    margin: 4px;
    padding: 5px;
    display: block;
    display: -webkit-box;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .service p{
    font-size: 5px;
  }

  .service a{
    font-size: 5px;
  }

  .service h4{
    font-size: 9px;
  }

  .service i {
    font-size: 2.45rem;
    margin: 1rem 0;
  }
}

@media (max-width: 768px){
  .service-heading{
    font-size: 15px;
  }
  
.section-lead {
  max-width: 300px;
  margin: 1rem auto 1.5rem;
  font-size: 0.5rem;
  text-align: center;
}
.service2 p{
  font-size: 4px;
}
.service1 p{
  font-size: 4px;
}
.service3 p{
  font-size: 3px;
}
.services-grid-two .service3 p{
  font-size: 5px;
}
}



/***end css styling for the service section***/


/***about us section css start***/

#aboutus {
  /* background-image: url('https://picsum.photos/200/300'); */
  background-image: url('https://drive.google.com/uc?id=1_Jib3n6Iuqr3DjCQH-HUqaekzgCuXzpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 100px 0;
  width: 100%;
  height: 100%
}

.parallax {
  position: relative;
  z-index: 1;
}

.aboutus-container {
  position: relative;
}

.aboutus-header {
  font-family: 'Poppins', sans-serif, 'arial';
  font-size: 50px;
  font-style: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.aboutusrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.col-xs-4-about1,
.col-xs-4-about2,
.col-xs-4-about3,
.col-xs-4-about4 {
  flex: 0 0 calc(50% - 30px);
  max-width: calc(50% - 30px);
  margin: 5px;
}

.box {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: white;
}


.box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box:hover .box-content {
  opacity: 1;
  transform: translateY(0);
}

.box p {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

@media (min-width: 767px) {
  .col-xs-4-about1,
  .col-xs-4-about2,
  .col-xs-4-about3,
  .col-xs-4-about4 {
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
  }


}

@media (max-width: 480px) {
  #aboutus{
    height: 100%;
    width: 100%;
    padding: 15px 0;
  }
  .box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.box p {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

}


/***css for the about us section***/

#testimonial{
  width: 100%;
  height: 165vh;
  background-image: url("https://dl.dropboxusercontent.com/s/d3v8iz9qezg8pgj/t.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#testimonial p {
  line-height: 1.5;
}

.testimonial-heading{
  padding-top: 2%;
  font-family: 'Poppins', sans-serif, 'arial';
  font-size: 50px;
  font-style: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  text-align: center;
  font-weight: 600;
} 

.testimonial-container{
  max-width: 800px;
  margin: 0 auto;
}

/* Cards */
.card-column {
  width: 50%;
  float: left;
  padding: 4%;
  box-sizing: border-box;
}

.column-1 {
  padding-top: 100px;
}

.card {
  width: 92%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #EB5160;
  color: #fff;
  cursor: pointer;
  margin-bottom: 60px;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}
h1.ts-content a {
  color: white;
  text-decoration: none;
}

/* .card h1 {
  position: relative;
  font-size: 18px;
  padding: 190px 0px 100px 10px;
  width: 90%;
  margin-top: 0; 
  text-align: center; 
}  */
.card h1 {
  position: relative;
  font-size: 20px;
  width: 90%;
  margin-top: 0;
  padding: 190px 0px 100px 10px;
  text-align: center;
  white-space: normal;
  word-break: break-word;
} 

.card > img {
  width: 90%;
  position: absolute;
  top: -6%;
  left: -6%;
}

.card-color-0 {
  background-color: #EB5160;
}

.card-color-1 {
  background-color: #8F3985;
}

.card-color-2 {
  background-color: #8DAA91;
}

.card-color-3 {
  background-color: #888DA7;
}
.card h1 {
  transform: translate3d(9%, 0px, 0px);  
  transition: opacity 200ms linear 100ms, transform 180ms ease-in 100ms;
}
.open-content .text h1, .open-content .text p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.card h1 a {
  display: block;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {

  .column-1 {
    padding-top: 0px;
  }
  
  .open-content img {
    margin-top: 40px;
  }

}

@media (max-width: 480px) {
  #testimonial{
    width: 100%;
    height: 75vh;
  }
  .testimonial-heading{
    padding-top: 3%;
    font-size: 25px ;
  }
  .card-column {
    margin-top: 11%;
    width: 49%;
  }
  .card {
    width: 92%;
    max-width: 140px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #fff;
    cursor: pointer;
  }
  .card h1 {
    position: relative;
    font-size: 9px;
    width: 90%;
    margin-top: 0;
    text-align: center; 
    padding: 90px 0px 40px 10px;
    white-space: normal;
    word-break: break-word;
  }
}


/***start of the css for the contacy us section***/

#contactus {
  background-image: url('https://drive.google.com/uc?id=1eAKai4mExKyHiuKbft7C6T2eipo69G5G');
  /* background-image: url('https://www.dropbox.com/s/ley65hywjoujdtv/IMG_4531.jpeg?raw=1'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: center;
}


.contactus-header{
  padding-top: 2%;
  font-family: 'Poppins', sans-serif, 'arial';
  font-size: 50px;
  font-style: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.contactus-subheader{
  font-family: 'Roboto', sans-serif, 'arial';
  font-size: 20px;
  font-weight: 600;
  color: var(--color-light-blue);
  line-height: 15px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

input:focus ~ label, textarea:focus ~ label,input:valid ~ label, textarea:valid ~ label{
  color: var(--white);
  font-size: 12px;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input{
  float: left;
  width: 290px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid var(--color-light-blue);
  outline: none;
  letter-spacing: 1px;
  font-size: 1rem;
}


@media only screen and (max-width: 768px){
  .styled-input {
      width:50%;
      margin: 1rem 0;
  }
  .styled-input.wide{
    width: 650px;
    margin: 1rem 0;
    max-width: 50%;
  
  }
}


.styled-input label{
  color: var(--white);
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  z-index: 1;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.styled-input.wide{
  width: 650px;
  margin: 1rem 0;
  max-width: 100%;

}

input, textarea{
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: transparent; 
  color: var(--white);
  margin-top: 1rem;
  border-radius: 4px;
  border-color: var(--color-black);
  
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span, textarea:focus ~span{
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea{
  width: 100%;
  min-height: 150px;
}

.input-container{
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

input[type=checkbox]+label{
  color: var(--white);
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color:var(--color-royal-blue);
  font-style: normal;
  }




#contactus button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 16px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  float: right;
}

#contactus button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#contactus button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

#contactus button:hover{
  padding-right: 24px;
  padding-left:8px;
}

#contactus button:hover:after {
  opacity: 1;
  right: 10px;
}   

@media (max-width: 480px){
  .contactus-header{
    margin-top: 15px;
    font-family: 'Poppins', sans-serif, 'arial';
    font-size: 28px;
  }
}

 @media (max-width: 768px){

  #contactus{
    background-image: url('https://www.dropbox.com/s/6dygcit2vpnkn98/11.jpg?raw=1');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: center;
  }
  .styled-input{
    width: 50%;
  }

} 

